[submodule "Hexalith.Builds"]
	path = Hexalith.Builds
	url = https://github.com/Hexalith/Hexalith.Builds.git
[submodule "HexalithApp"]
	path = HexalithApp
	url = https://github.com/Hexalith/HexalithApp.git
[submodule "Hexalith.IdentityStores"]
	path = Hexalith.IdentityStores
	url = https://github.com/Hexalith/Hexalith.IdentityStores.git
