name: Build Packages
on:
  push:
    branches: 
      - main
      - next
      - next-major
      - aplha
      - beta
      - '[0-9]+.[0-9]+.x'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: write
  contents: write
  issues: write
  pull-requests: write
  id-token: write
  
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    name: Build and Test
    outputs:
      version: ${{ steps.build.outputs.version }}
    steps:
    - name: Build and publish packages
      id: build
      uses: Hexalith/Hexalith.Builds/Github/package-release@main
      with:
        project-name: ${{ github.event.repository.name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}

  publish-containers:
    runs-on: ubuntu-latest
    name: Publish Containers
    needs: build-and-test
    if: ${{ needs.build-and-test.outputs.version != '' }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    - name: Publish Application Containers
      uses: Hexalith/Hexalith.Builds/Github/publish-container-to-registry@main
      with:
        app-id:  ${{ vars.HEXALITH_MODULE_SHORT_NAME }}
        version: ${{ needs.build-and-test.outputs.version }}
        registry: registry.hexalith.com
        username: ${{ secrets.ZOT_USERNAME }}
        password: ${{ secrets.ZOT_PASSWORD }}

#   deploy-k8s:
#     runs-on: ubuntu-latest
#     name: Deploy to Kubernetes
#     needs: [build-and-test, publish-containers]
#     if: ${{ needs.build-and-test.outputs.version != '' }}
#     environment: Production
#     steps:
#     - name: Set up kubectl
#       uses: azure/setup-kubectl@v3
#       
#     - name: Set Kubernetes Context
#       uses: azure/k8s-set-context@v3
#       with:
#         method: kubeconfig
#         kubeconfig: ${{ secrets.KUBE_CONFIG }}
# 
#     - name: Deploy to Kubernetes
#       run: |
#         # Update Web deployment
#         kubectl set image deployment/${{ vars.HEXALITH_MODULE_SHORT_NAME }}-web ${{ vars.HEXALITH_MODULE_SHORT_NAME }}-web=zot.hexalith.com/${{ vars.HEXALITH_MODULE_SHORT_NAME }}web:${{ needs.build-and-test.outputs.version }}
#         
#         # Update Api deployment
#         kubectl set image deployment/${{ vars.HEXALITH_MODULE_SHORT_NAME }}-api ${{ vars.HEXALITH_MODULE_SHORT_NAME }}-api=zot.hexalith.com/${{ vars.HEXALITH_MODULE_SHORT_NAME }}api:${{ needs.build-and-test.outputs.version }}
